*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html{
  font-family: Verdana, sans-serif;
}

body{
  display: block;
  background-color: black;
  color: white;
  text-align: center;
}

h1{
  font-weight: normal;
  font-size: 50px;
  margin: 20px 0px;
}

h2{
  font-weight: 300;
  font-size: 42px;
  margin: 20px 0px;
}

p{
  font-size: 21px;
  color: gray;
}

img, video{
  margin-top: 15px;
}

.cta{
  font-size: 16px;
  color: Aquamarine;
  margin: 15px;
}

.footer{
  text-align: right;
  margin-bottom: 20px;
  margin-right: 10px;
}
